input,
textarea,
button,
select,
a,span,div {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#fullscreenDiv {
   position:fixed;
   left:0;
   top:0;
   width:100%;
   height:100%;
   color:white;
   background:rgba(0,0,0,0.9);
   cursor:pointer;
}
#fullscreenDiv #content {
   will-change: transform;
   transform: translate3d(0,0,0);
   position:relative;
   left:0;
   top:0;
   width:100%;
   height:100%;
}
#fullscreenDiv .block {
   position:absolute;
   top:0;
   width:100vw;
   height:100vh;
   text-align:center;
   overflow:hidden;
}

#fullscreenDiv .animate {
   transition: all .3s ease-out;
}

#fullscreenDiv .block img {
   user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   pointer-events: none;
   max-width:90vw;
   max-height:90vh;
   border:5px white solid;
}
#fullscreenDiv.fullscreen .block img {
   max-width:100vw;
   max-height:100vh;
   border:0;
}

/* Prev, next, close */
#fullscreenDiv #cboxPrev, #fullscreenDiv #cboxNext {
   height: 100%;
   position: fixed;
   text-indent: -9999px;
   top: 0;
   width: 150px;
   opacity:0.8;
}
#fullscreenDiv #cboxPrev:hover, #fullscreenDiv #cboxNext:hover {
   opacity:1;
}
#fullscreenDiv #cboxPrev {
   background: url("fsprev.png") no-repeat scroll 0 center transparent;
   left: 0;
}
#fullscreenDiv #cboxNext {
   background: url("fsnext.png") no-repeat scroll 100px center transparent;
   right: 0;
}
#fullscreenDiv #cboxClose{
   position: fixed;
   right:10px;
   top:10px;
   background: url("fsclose.png") no-repeat scroll 11px 8px transparent;
   width:50px;
   height:50px;
   text-indent: -9999px;
   z-index:999999;
}

/* Fullscreen and expand */
#fullscreenDiv #cboxControls {
   position:fixed;
   bottom:0;
   width:100%;
   text-align:center;
   z-index:999999;
}
#fullscreenDiv #cboxControls span {
   opacity:0.8;
   width:50px;
   height:50px;
   display:inline-block;
   margin:5px;
}
#fullscreenDiv #cboxControls #cboxFullScreen {
   background: url("hd.png");
   background-size:     contain;
   background-repeat:   no-repeat;
   background-position: center center;
}
#fullscreenDiv #cboxControls #cboxShowOriginal {
   background: url("expand.png");
   background-size:     contain;
   background-repeat:   no-repeat;
   background-position: center center;
}

/* Comments */
#fullscreenDiv #cboxComment {
   width:100%;
   height:60px;
   text-align:left;
   z-index:999999;
   color:#CCCCCC;
   font-weight: bold;
   margin-top:10px;
   text-align:center;
}
#fullscreenDiv.fullscreen #cboxComment {
   display:none;
}
