<!DOCTYPE HTML>
<html>                                                                  
	<head>                                                                  
     <meta http-equiv="content-Type" content="text/html; charset=windows-1252" />
	  <title>Photos</title>
	  <style type="text/css">
			html, body {
				height:100%;
				margin: 0;
				padding: 0;
			}
			#l {
				position:absolute; 
				top:50%; left:50%; 
				margin-top:-2.5px; margin-left:-2.5px;
				width: 5px; height: 5px; 
				border-radius: 5px; 
			}
			.options {
				position: fixed; right:0; bottom:0; padding: 5px; cursor:pointer; z-index:8000;
			}
			.speech-bubble
			{
				width: 170px;
				padding: 8px;
				background: #404040;
				color: #fff;
				position:fixed;
				z-index:30;
				bottom:50px;
				right:6px;
				font:17px Tahoma,Helvetica,Arial,Sans-Serif;
				padding-bottom:0;
				padding-left:13px;
			}
			.speech-bubble select {
				float:right;
				margin-top:1px;
			}
			.speech-bubble:after
			{
				content: "";
				border: solid 10px transparent; 
				border-top-color: #404040; 
				border-bottom: 0;
				width: 0;
				display: block;
				position: relative;
				bottom: -9px; 
				margin: auto;
				left:75px;
			}
	  </style>
      <script>
         function every(ar, fn) {
            if(!ar) return;
            for (var i = 0, j = ar.length; i < j; ++i) { fn(ar[i]) };
         }
         function first(ar) { for (var firstKey in ar) break; return firstKey; }
         $script = function(path, name, cb) {
            if($script.loaded[name]) { if(cb) cb(false); return; }
            var e = document.createElement('script'); $script.loaded[name] = false;
            e.onload = e.onerror = e['onreadystatechange'] = function () {
               if ((e['readyState'] && !(/^c|loade/.test(e['readyState']))) || $script.loaded[name]) return;
               e.onload = e['onreadystatechange'] = null;
               $script.loaded[name] = 1;
               every($script.cb[name], function(f) { f() });
               if($script.loaded[name]) { if(cb) cb(true); return; }
            }
            e.id = name;
            e.async = 1;
            e.src = path;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.appendChild(e);
         }
         $script.loaded = [];
         $script.cb = [];
         $script.ready = function(names, cb) {
            var depl = names.length;
            function decr() { depl--; if(depl == 0) cb(); };
            every(names, function(n) {
               if($script.loaded[n]) 
                  decr();
               else
                  ($script.cb[n])?$script.cb[n].push(decr):($script.cb[n]=[decr]);
            });
         }

         function getCook(name) {
            var beg = document.cookie.indexOf(name + "=");
            if (beg >= 0) {
               beg += name.length + 1;
               end = document.cookie.indexOf(";",beg);
               if (end < 0) end = document.cookie.length;
               return unescape(document.cookie.substring(beg,end));
            }
            return "";
         }

         function writeTheme(theme, bgColor, fgColor) {
            var realTheme = theme?theme:first(config.getThemes());
            var bg = bgColor?bgColor:config.getThemes()[realTheme]['BG'];
            var fg = fgColor?fgColor:config.getThemes()[realTheme]['FG'];
            document.write('<style type="text/css">body {background-color: '+(bg)+'}#l{background-color: '+(fg)+';}<\/style>');
            document.write('<link href="./themes/'+(realTheme)+'/main.css" rel="stylesheet" type="text/css" id="themecss">');
            $script('themes/'+(realTheme)+'/main.js', 'themejs');
         }
      </script>

    <!-- Autogenerated, do not modify by hand -->
	<script type="text/javascript">
	var config = {
	  getThemes:function(name) {
		return {
		  'default':{BG:'#151515',FG:'#FFF'},'photoshow':{BG:' #DDD',FG:'#000'},'old':{BG:' #FFF',FG:'#000'},
		};
	  },
	  getLang:function(name) {
		return [ 'en','fr',];
	  },
     t:function(v) { return config.tr[v]?config.tr[v]:v; },
     plugins:[],
     pluginsInstances:[],
     contentPlugins:[],
     cacheDir:'cache',
     picsDir:'pics',
     loadedThemes:[],
     content_order:["dirs","pics","vids"],
	};
   config.tr = {};

   
   
   
   </script>

	<!-- Autogenerated -->

      <script>
         $script('scripts/jquery.min.js', 'jquery');
         $script('scripts/jquery.colorbox.min.js', 'colorbox');
         $script('scripts/jgallery.js', 'jgallery');
         writeTheme(getCook('theme'), getCook('bgcolor'), getCook('fgcolor'));


         var page = {
            loaded:0,
            toAdd:0.04,
            opacity:1,
            showLoading:function() {
               var l = document.getElementById("l");
               if(l != null) {
                  if(page.opacity + page.toAdd < 0.4 || page.opacity + page.toAdd > 1) {
                     page.toAdd = -page.toAdd;
                  }
                  l.style.opacity = page.opacity = page.opacity + page.toAdd;
               }
               if(page.loaded) {
                  if(l)
                     l.style.opacity = 0;
                  return;
               }
               setTimeout(page.showLoading,50);
            }
         };
         page.showLoading();
       </script>
	</head>
	<body>
		<noscript><div style="text-align:center;margin:20px;color:#000">Please activate Javascript to view this gallery.</div></noscript>
		<div id="wrapper" style="min-height:100%; width:100%">
			<div id="l"></div>
			<div id="o"></div>
			<div id="m"></div>
		</div>

	<script id="headerTpl" type="text/x-jquery-tmpl">
		<div id="header">
			<div id="search">
				<input type="text" id="searchbox" class="translate" autofocus="autofocus" />
			</div>
		</div>
		<div id="content"></div>
   </script>
   <script id="errorTpl" type="text/x-jquery-tmpl">
		<div id="error">An error occured :(<br/>${Error}</div>
	</script>
	<script id="searchTpl" type="text/x-jquery-tmpl">
		<div class="search">
			<span id="srt" class="translate">Search results for:</span>'<span id="searchText"></span>' <span id="search_infob" class="translate"></span>
			<span id="permalink"></span>
			<br/>
		</div>
		<ul id="search_results"></ul>
		<div id="search_loading"></div>
		<div id="search_info" class="search" style="display:none"></div>
	</script>
	<script id="dirTpl" type="text/x-jquery-tmpl">
		{{if separator}}<div id="sep${ID}" class="dir_separator">{{html separator}}</div>{{/if}}
		<span class="dir_sub_container">
			<span class="img_loading" style="position:relative"></span>
			<div id="dir${ID}" class="dir">
				<div class="imgc">
					<a class="img_container" href="#!${completeurl}">
						<img src="${jGalleryModel.cacheDir}/thumbs/${thumb}" style="border:none" />
					</a>
				</div>
				<div class="date">
					<p class="day">{{html day}}</p>
					<p class="month">{{html month}}</p>
					<p class="year">{{html year}}</p>
				</div>
				<div class="title_descr">
					<p class="title">{{html title}}</p>
					{{if descr}}<p class="descr">{{html descr}}</p>{{/if}}
				</div>
				{{if starred}}<p class="star"></p>{{/if}}
			</div>
		</span>
	</script>
	<script id="picTpl" type="text/x-jquery-tmpl">
		<div id="pic${ID}" class="pic">
			<p>
         <a href="${jGalleryModel.picsDir}/${url}/${big}" rel="gal{{if original}}fs{{/if}}" {{if title}}title="${title}"{{/if}}>
				<img src="${jGalleryModel.cacheDir}/thumbs/${url}/${thumb}" />
			</a>
			</p>
		</div>
	</script>
	<script id="vidTpl" type="text/x-jquery-tmpl">
		<div id="vid${ID}" class="vid" style="width:100%;text-align:center">
			<video tabindex="0" controls="controls" height="${h}" style="max-width:${w}px;">
			{{each vid}}
				{{if ($ext = $value.split('.').pop().toLowerCase()) == "ogg"}}
				<source src="${jGalleryModel.picsDir}/${path}${$value}" type="application/ogg" />
				{{else $ext.toLowerCase() == 'ogv'}}
				<source src="${jGalleryModel.picsDir}/${path}${$value}" type="video/ogg" />
				{{else $ext.toLowerCase() == 'webm'}}
				<source src="${jGalleryModel.picsDir}/${path}${$value}" type="video/webm" />
				{{else $ext.toLowerCase() == 'mp4' || $ext == 'avi'}}
				<source src="${jGalleryModel.picsDir}/${path}${$value}" type="video/mp4" />
				{{/if}}
			{{/each}}
				<div>
					<a href="${jGalleryModel.picsDir}/${path}${vid[0]}"><img src="./themes/_common/logo_video.png" alt="Download ${vid[0]}" border="0" /></a>
				</div>
			</video>
		</div>
	</script>
	<script id="picsTpl" type="text/x-jquery-tmpl">
		<table id="pics" class="pic">
			<tr>
				{{each Pics}}
				{{if $value['ID']%Num==0}}</tr><tr>{{/if}}
				<td valign="middle" class="picr">
					<span class="img_container" style="position:relative">
						<span class="img_loading" ></span>
						<a id="pic${$value['ID']}" href="${jGalleryModel.picsDir}/${$value['url']}/${$value['big']}" rel="gal{{if original}}fs{{/if}}" {{if $value['title']}}title="${$value['title']}"{{/if}}>
                     <img src="${jGalleryModel.cacheDir}/thumbs/${$value['url']}/${$value['thumb']}" />
						</a>
					</span>
				</td>
				{{/each}}
			</tr>
		</table>
	</script>
	<script id="everytrailTpl" type="text/x-jquery-tmpl">
		<div class="gpse">
			<object width="100%" height="100%" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
				<param name="movie" value="http://www.everytrail.com/swf/widget.swf"/>
				<param name="FlashVars" value="${gps}">
				<param name="wmode" value="opaque" />
				<embed src="http://www.everytrail.com/swf/widget.swf" quality="high" width="100%" height="100%" FlashVars="${gps}" play="true" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"  wmode="opaque">
				</embed>
			</object>
		</div>
	</script>
	<script id="gpsTpl" type="text/x-jquery-tmpl">
		<div class="gps">
			<div class="gpsmapwrapper">
				<div id="map_canvas" class="gpscanvas"></div>
				<div id="map_advanced" class="gpsadvanced"></div>
				<div id="map_bigger" class="gpsbigger"></div>
			</div>
			<div id="chart_div" class="gpschart"></div>
		</div>
	</script>
	
	<script id="optionTpl" type="text/x-jquery-tmpl">
      <div id="opt" class="options"><img src="./themes/_common/options.png" /></div>
   </script>
   <script id="optionsContentTpl" type="text/x-jquery-tmpl">
	   <div id="optcontent" class="speech-bubble">
		   <div style="height:30px">
		   <label for="language" id="llang" class="translate">Language</label>
		   <select id="language">
			   {{each Lang}}
			   <option value="${$value}" {{if $value==selectedL}}selected{{/if}}>${$value}</option>
			   {{/each}}
		   </select>
		   </div><div style="height:30px">
		   <label for="theme" id="ltheme" class="translate">Theme</label>
		   <select id="theme">
			   {{each Theme}}
			   <option value="${$index}" {{if $index==selectedT}}selected{{/if}}>${$index}</option>
			   {{/each}}
		   </select>
		   </div>
		</div>
	</script>
	</body>
</html>
