body {
   background-color:#151515;
   color:#FFF;
   overflow-y:scroll;
}
a {
   color:#FFF;
}
#loading {
   background-color:#FFF;
}
#header {
   position:relative;
   top:10px;
   width:100%;
   margin:auto;
}
#header #search {
   position:absolute;
   top:0px;
   left:0px;
   height:20px;
   padding: 5px;
   padding-right:50px;
   padding-left:0px;
   padding-top:2px;
   background: url("./search.png") no-repeat scroll right 0px transparent;
}
#header #search input {
   position:relative;
   left:0px;
   width:100%;
   border-style: hidden;
   border:none;
}
#search_loading, .ajax_loading  {
   background: url(data:image/gif;base64,R0lGODlhEAAQAPIAABUVFf8AAEwQEMEFBf8AAKQICIYKCngMDCH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==) no-repeat scroll !important;
}
.canvas_loading {
   background-position: center !important;
}
#permalink {
   position:absolute;
   right:0px;
}
#permalink a, #main_descr a {
   color:#FFF;
}
#permalink, #main_descr, #search, #contentb {
   text-align:left;
}

#tpl ul {
   position:absolute;
   right:0px;
   top:30px;
   margin:0px;
   padding:0px;
}
#tpl ul li {
   position:relative;
   margin:0;
   padding:0;
   text-decoration:none;
   cursor:pointer;
   list-style:none;
   height:auto;
   width:22px;
   margin-bottom:8px;
}
#tpl img {
   opacity:0;
   border:1px solid white;
   width:20px;height:20px;
   vertical-align:top;
}
#tpl p {
   opacity:0;
   position:absolute;
   top:0px;
   height:18px;
   right:20px;
   padding-top:2px;
   padding-right:10px;
   padding-left:5px;
   width:auto;
   margin:0;
   font-size:0.8em; 
   font-family:georgia, "times new roman", serif;
   text-align:right;
   border:1px solid black;
   white-space:nowrap;
   background-color:#000;
   color:#FFF;
}	

#m {
   position:relative;
   opacity:0;
   width:90%;
   margin:auto;
   margin-bottom:30px;
}

#content {
   position:relative;
   top:20px;
   width:100%;
   text-align:center;
}

.search, #error {
   /*font-size:12px;*/
   font-weight:bold;
   color:#FFF;
   padding:5px;
   background-color:#252525;
   font-family:'Trebuchet MS', Helvetica, sans-serif;
}
#search_loading {
   width:16px;
   height:16px;
   margin:auto;
   margin-top:20px;
   margin-bottom:20px;
}
#search_results .highlight {
   color:#FF0000;
}
.example {
   color:#666666 !important;
   font-weight:normal !important;
}

.dir_container {
   display:table-cell;
   vertical-align:middle;
}
.dir_sub_container {
   display:table-cell;
   float:left;
   height:164px;
   margin:0;
   padding:0;
}
.dir {
   opacity:0.3;
   position:relative;
   height:159px;
   cursor:pointer;
   float:left;
   margin-bottom:30px;
   background-color:#252525;
   margin:3px;
}
.dir .imgc {
   height:154px;
   overflow:hidden;
}
.dir img {
   opacity:0;
   float:left;
   width:200px;
   height:150px;
   vertical-align:top;
   margin:5px;
}
.dir p {
   margin:0; padding:5px 0;
}
.dir .date {
   position:absolute;
   z-index:2;
   right:8px;
   bottom:1px;
   width:60px;
   text-align:right;
   font:17px Tahoma,Helvetica,Arial,Sans-Serif;
}
.dir .year, .dir .day {
   display:none;
}
.dir .month {
   opacity:0.5;
   padding-right:5px;
}


.dir .title_descr {
   position:absolute;
   z-index:1;
   left:5px;
   bottom:5px;
   height:25px;
   width:200px;
   font-weight:bold;
   font:17px Tahoma,Helvetica,Arial,Sans-Serif;
   background-color:#000;
   color:#FFF;
   opacity:0.7;
   overflow:hidden;
}
.dir .title {
   padding:2px 5px;
   text-align:left;
}
.dir .descr {
   display:none;
}
.dir .star {
   background: url("./star.png") no-repeat scroll;
   width:19px;height:19px;
   position:absolute;
   z-index:1;
   top:-4px;
   left:-4px;
}

.dir_separator {
   opacity:0;
   display:inline-table;
   padding-top:15px;
   padding-bottom:10px;
   padding-left: 4px;

   color: #AAA;
   font: 20px Tahoma,Helvetica,Arial,Sans-Serif;
}
.dir_separator .last_digit {
   color: #FFF;
}
.dir_separator hr {
   margin: 0pt;
   width: 857px;
   background-color:#FFF; 
   color:#FFF; 
   height:1px;
   border:0 none;
}

.gpse {
   height:320px;
}
.gps {
   position:relative;
   margin-top:8px;
}
.gpscanvas {
   height:320px;
}
.gpscanvasbig {
   height:800px;
}
.gpschart {
   display:none;
   height:200px;
   width:100%;
   margin-top:8px;
   background-color:#252525;
}
.gpsmapwrapper {
   position:relative;
}
.gpsadvanced {
   position:absolute;
   background:url(elevation.png) repeat-x center;
   bottom:0px;
   left:50%;
   margin-left:-39px;
   width:40px;
   height:40px;
   cursor:pointer;
   display:none;
}
.gpsbigger {
   position:absolute;
   background:url(bigger.png) repeat-x center;
   bottom:0px;
   left:50%;
   margin-left:-1px;
   width:40px;
   height:40px;
   cursor:pointer;
   display:none;
}
.gpssmaller {
   background:url(smaller.png) repeat-x center;
}
.gpsdownload {
   position:absolute;
   background:url(../_common/dlgpx.png) repeat-x center;
   bottom:0px;
   left:50%;
   margin-left:-76px;
   width:40px;
   height:40px;
   cursor:pointer;
   display:none;
}

#pics {
   margin:auto;
   display:inline-block;
}
.pic {
   float:left;
}
.pic a {
   position:relative;
   opacity:0;
}
.img_container {
   /*position:relative;*/
}
.img_loading {
   position:absolute;
   z-index:1;
   background-color:#FFF;
   width: 5px; height: 5px; 
   border-radius:5px;
   left:105px;
   top:79px;
   display:none;
   opacity:0;
}
.pic img {
   border:0;
   padding:3px;
   background-color:#353535;
   margin:5px;
   width:200px;
   height:150px;
   vertical-align:top;
}

#vids {
   width:640px;
   margin:auto;
}

#breadcrumbs {
   font:11px Arial, sans-serif;
   color:#111;
   list-style:none;
   padding:0; margin:0;
   background:url(breadcrumb-bg.png) repeat-x center;
   border:1px solid #CCC;
   overflow:hidden;
   display:inline-block;
   margin-right:20px;
   margin-top:2px;
}


#breadcrumbs li {
   float:left;
   background:none;
   padding:0 20px 0 10px;
   height:20px; line-height:20px;
   background:url(breadcrumb-right.png) no-repeat right center;
}
#breadcrumbs li:last-child {
   padding:0 10px 0 10px;
   background:none;
}
#breadcrumbs li:first-child a {
   display:block;
   width:20px;
   text-indent:-9999px;
   background:url(home.png) no-repeat 0 center;
}
#breadcrumbs a {
   text-decoration:none;
   color:#999;
}
#breadcrumbs a:hover {
   color:#CC6600;
}

.highcharts-legend {
   background-color:#FFF;
}

.loading_chart, .canvas_loading {
   background: url(data:image/gif;base64,R0lGODlhEAAQAPIAACUlJbVOTkYuLo5CQrVOTn09PWo4OGE2NiH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==) no-repeat scroll !important;
   background-position:center !important;
   background-color:#252525 !important;
}

#map_canvas {
   background-color:#252525 !important;
}
.highcharts-title, .highcharts-legend text {
   color:#FFF !important;
   fill:#FFF !important;
}
#map_canvas > div > .gmnoprint:nth-of-type(3) > div {
   display:none;
}

.copyright {
   font-family:'Trebuchet MS', Helvetica, sans-serif;
   font-size:13px;
   font-weight:bold;
   color:#DDD;
}
.copyright a {
   text-decoration:none;
}
